body  {
  background-image: url(images/background/background.jpg);
  width: 90%;
  margin: 0 auto ;
}

#main {
   background: rgba(255, 255, 255, 0.6);
   /*margin: 0 auto ;*/
   width: 55%;
   height: 550px;
   border-radius: 20px;
   /*padding: 40px;
   margin-left: 60px;*/
   text-align: center;
   margin: 0 auto;
   margin-top: 50px;
   -webkit-box-shadow: 3px 5px 8px  #282c33;
      -moz-box-shadow: 3px 5px 8px  #282c33;
           box-shadow: 3px 5px 8px  #282c33;
}

.logoBanner {
  margin-top: 3%;
  width: 95%;
}

.container {
  margin-top: 100px;
}

.container2 {
  margin-top: 50px;
}

h2 {
  font-family: 'Kalam', cursive;
  font-weight: 700;
  font-size: 30px;
  margin-left: 10px;
}

.tot {
  font-family: 'Kalam', cursive;
  font-weight: 400;
}

label {
  font-family: 'Kalam', cursive;
  font-weight: 400;
  font-size: 30px;
  padding-left: 10px;
  /*text-align: center;*/

}

.wordInput {
  padding: 6px;
  border-radius: 5px;
  margin-right: 10px;
}

a {
  text-decoration: none !important;

}

.linkButton {
  margin-top: 20px;
}

button {
  padding: 9px;
  border-radius: 8px;
  border-style: groove;
  color: #242426;
  /*font-family: Helvetica, sans-serif;*/
  font-family: 'Kalam', cursive;
  font-weight: 700;
  font-size: 14px;
  background: #fceabb;
background: -moz-linear-gradient(top, #fceabb 0%, #fccd4d 18%, #f8b500 59%, #fbdf93 100%);
background: -webkit-linear-gradient(top, #fceabb 0%,#fccd4d 18%,#f8b500 59%,#fbdf93 100%);
background: linear-gradient(to bottom, #fceabb 0%,#fccd4d 18%,#f8b500 59%,#fbdf93 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=0 );
}

form {
  display: inline-block;
  margin-left: 10px;
}

.jar {
  float: right;
  margin-right: 80px;
  margin-top: -20px;
  width: 200px;
  height: 250px;
  /*margin-bottom: 25px;*/
}

.jarOne {
  width: 250px;
}
