<div class="logo">
  <h1>logo here and title</h1>
  <h2>Page Two view</h2>
</div>

<div class="">
  <!-- styling will be the same for both views -->
  <div class="jar">

    <img class = 'jarOne' src="images/jar/fillupjar1.png" alt="">
    <p>replace image when number gets higher</p>
  </div>

  <!-- <select class="nameDropdown">
    <option value="Parent">Parent:</option>
    <option value="Mom">Mom</option>
    <option value="Dad">Dad</option>
  </select> <br> -->
  <!-- <label><input type="radio" ng-model="parent" value="mom" checked/>Mom</label>
    <label><input type="radio" ng-model="parent" value="dad" />Dad</label> -->
  <!-- ng-model="totalCount" -->
  <!-- <input type="text" ng-model="boolean"> -->
  <!-- ng-click="something()" -->
  <!-- <button type="submit" name="submit" ng-click "testForTrue(boolean)">Submit to Calculate total times said</button> -->

  <!-- <h2 ng-repeat = "boolean in booleans"> {{boolean}}</h2> -->
  <h2>Total Amount:<br>
    Mom's total: $ numtotal + {{numtotal +1}} <br>
    Dad's total: $ numtotal +{{numtotal +1}}
  </h2>
  <!-- JS to calculate and angualr partial to show view -->

<div class="">
  <button type="submit" name="submit" ng-click = "backButton()">Back</button>
<form action="https://detroit.curbed.com/maps/things-to-do-detroit-kids" target="_blank">
    <input type="submit" value="Spend It!" />
</form>
  <!-- stretch goals -->
  <!-- <button type="button" name="button">stretch goal API map</button> -->
  </div>
</div>
