<!-- MVC=view -->
<div class="container">

  <div class="jar">
                            <!-- model data $scope.jar -->
    <img class = 'jarOne' ng-src="{{jar}}" alt="jar of money">

  </div>
                      <!-- Model Data $scope.parents -->
  <h2 class="tot">Mom's total: $ {{parents.mom}} <br>
  Dad's total: $  {{parents.dad}}</h2>
  <h2>Total Amount: $ {{parents.mom + parents.dad}}</h2>
   <!-- <h2>{{parents}} said a swear!</h2> -->
  <!-- JS to calculate and angualr partial to show view -->
  <button type="submit" name="submit" ng-click = "backButton()">Back</button>
<form action="https://detroit.curbed.com/maps/things-to-do-detroit-kids" target="_blank">
  <button type="submit" name="button">Spend It!</button>
</form>
  <!-- stretch goals -->
  <!-- <button type="button" name="button">stretch goal API map</button> -->

</div>
