<div class="">
</div>

<div class="">
  <form class="" name = "theForm" ng-controller = "totalController">
  <!-- styling will be the same for both views -->
  <div class="radioInputs">

  <label><input type="radio" ng-model="parent.name" value="mom"  />Mom</label>
    <label><input type="radio" ng-model="parent.name" value="dad" checked />Dad</label>
    <tt>Parent = {{parent.name}}</tt><br/>
  <!-- type = password add in later -->
  Swear: <input type="text" name="password" value="" ng-model="words">
  </form>
  <!-- button will need to change the view -->

  <button type="submit" name="submit" ng-click = "testWord(words)">Submit Test</button>
    <!-- display will go on view2 ng-repeat=word in words -->
        <p>log who said true statement</p>
        <p>totals on view two</p>

      </div>
      </div>
