<div class="logo">
  <h1>logo here and title</h1>
</div>

<div class="">
  <!-- styling will be the same for both views -->
  <label><input type="radio" ng-model="parent" value="mom" checked/>Mom</label>
    <label><input type="radio" ng-model="parent" value="dad" />Dad</label>
  <!-- type = password add in later -->
  Swear: <input type="text" name="password" value="" ng-model="words">
  <!-- button will need to change the view -->

  <button type="submit" name="submit" ng-click = "testWord(words)">Submit Test</button>
    <!-- display will go on view2 ng-repeat=word in words -->
        <p>API to test value of word</p>
        <p>If true, go to next page. If false, alert to pop up reset form</p>
      </div>
