<div class="logo">
  <h1>logo here and title</h1>
  <h2>Page Two view</h2>
</div>

<div class="">
  <!-- styling will be the same for both views -->
  <div class="jar">

    <img class = 'jarOne' src="images/jar/fillupjar1.png" alt="">
    <p>replace image when number gets higher</p>
  </div>

  <!-- ng-model="totalCount" -->

  <!-- <h2 ng-repeat = "total in totals"> {{total}}</h2> -->
  
  <!-- set to default  not stored from page -->
    <tt>Parent = {{parent.name}}</tt><br/>
  <h2>Total Amount:<br>
    Mom's total: $  + {{numtotal +1}} <br>
    Dad's total: $  +{{numtotal +1}}
  </h2>
  <!-- JS to calculate and angualr partial to show view -->

<div class="">
  <button type="submit" name="submit" ng-click = "backButton()">Back</button>
<form action="https://detroit.curbed.com/maps/things-to-do-detroit-kids" target="_blank">
    <input type="submit" value="Spend It!" />
</form>
  <!-- stretch goals -->
  <!-- <button type="button" name="button">stretch goal API map</button> -->
  </div>
</div>
